[Desktop Entry]
Name=Timedemo
Comment=Timedemo Benchmark
Exec=sudo /usr/local/bin/q3lite timedemo
Icon=/usr/share/pixmaps/q3lite_timedemo.png
Terminal=false
Type=Application
NoDisplay=false
Categories=Q3liteSubMenu;
StartupNotify=true
